.alarm-textarea {
  @apply w-full;
  @apply text-gray-900;
  @apply outline-none;
  @apply resize-none;
  @apply bg-gray-100;
  @apply font-mono;
  @apply rounded-md;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 4px;
  padding: 10px 12px;
}
