@import '../../css/mixin.css';

.alarm-editor {
  margin-top: 6px;
  font-size: 0.9rem;

  &__input-line {
    display: flex;
  }

  &__input-minutes {
    @mixin interactable;
    @apply border;
    @apply border-gray-200;
    @apply text-gray-500;

    width: 44px;
    height: 100%;
    text-align: right;
    font-size: 14px;
    appearance: none;
    border-radius: var(--radius-md);

    &:focus-visible {
      @apply outline;
      @apply outline-gray-500/30;
    }
  }

  &__input-minutes + span {
    @apply text-gray-500;
    line-height: 1;
    margin-left: 4px;
    margin-top: 10px;
  }

  &__input-timing {
    flex: 1;
    font-size: 13px;
    margin-left: 4px;
  }

  &__button {
    margin-left: 4px;
    .Icon {
      width: 16px;
      height: 16px;
    }
  }

  &__button {
    @mixin interactable;

    @apply fill-gray-400;
    @apply group-hover:fill-gray-600;
    @apply bg-white;
    @apply font-semibold;
    @apply border;
    @apply border-gray-200;

    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-1);

    &.mod-disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__current {
    margin-top: 10px;
  }

  &__current-list {
    @apply bg-gray-100;
    @apply rounded-md;
    overflow-y: auto;
    padding: 4px 2px 4px 8px;
    max-height: 8rem;
    font-size: 13px;
  }

  &__current-item {
    display: flex;
    span {
      @mixin text-ellipsis;
      flex: 1;
    }

    &__button {
      @mixin interactable;
      margin-left: 2px;
      border-radius: var(--radius-md);
      padding: 4px;

      svg {
        width: 1rem;
        height: 1rem;
        fill: var(--text-400);
      }

      &:hover {
        background-color: var(--bg-gray-200);
        svg {
          fill: var(--text-500);
        }
      }
    }
  }

  &__current-item + &__current-item {
    margin-top: 2px;
  }
}
