body {
  margin: 0;
}

h1,
h2 {
  @apply font-bold;
  @apply text-base;
  @apply text-gray-700;
  @apply pt-4;
  @apply pb-3;
}

#popup {
  width: 400px;
  height: 600px;

  @apply text-sm;
  @apply text-black;
  @apply antialiased;
  @apply px-2.5;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.task-list-item {
  position: relative;

  & + &,
  &:first-child {
    @apply border-t;
    @apply border-gray-200;
  }

  &--drag {
    opacity: 0.5;
  }

  &--hover::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 3px;
    box-shadow: 0 2px 3px rgb(165, 180, 252);
  }

  &--hover.task-list-item--drop-top::after {
    top: -3px;
    bottom: auto;
  }
}

.task-textarea {
  height: calc(100% - 46px);
  padding-bottom: 10px;

  textarea {
    line-height: 2;
    @apply w-full;
    @apply h-full;
    @apply p-4;
    @apply text-gray-900;
    @apply outline-none;
    @apply resize-none;
    @apply rounded-md;
    @apply bg-gray-100;
  }
}

.task-container {
  @apply relative;
  @apply h-full;
  @apply pb-20;
  @apply overflow-scroll;
}

.task-container > div > .contains-task-list {
  @apply border-gray-200;
  @apply border-b;
}
