.react-calendar {
  @apply rounded-md;
  overflow: hidden;
}

.calendar {
  cursor: pointer;
  height: 58px;
  width: fit-content;
  padding-right: 10px;

  &__label {
    font-family: var(--font-mono);
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
    color: var(--text-500);
    user-select: none;
    transition: all ease-out 0.2s;

    &--fixed {
      position: fixed;
      top: 12px;
      font-size: 16px;
      font-weight: normal;
      margin-top: 0;
    }
  }

  &__button {
    position: relative;
    top: 2px;
    margin-left: 6px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--text-500);
  }

  &__label--fixed &__button {
    top: 3px;
  }

  &__label--fixed &__icon {
    width: 16px;
    height: 16px;
  }
}

.calendar-date {
  font-family: var(--font-mono);
  color: var(--text-500);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.05em;
}
