.react-calendar {
  @apply rounded-md;
  overflow: hidden;
}

.calendar {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;

  &__icon {
    @apply fill-gray-700;
    width: 20px;
    height: 20px;
  }
}

.calendar-date {
  @apply select-none;
  @apply font-mono;
  @apply text-gray-700;

  margin-left: 0.4em;
  font-size: 16px;
  letter-spacing: -0.05em;
}
