.report-summary {
  margin-left: -2px;
  margin-top: -5px;
  height: 30px;
  font-size: 12px;
  font-family: var(--font-mono);
  color: var(--text-600);
  font-weight: normal;
  letter-spacing: 0.05em;
  user-select: none;
  cursor: pointer;

  &__container {
    display: flex;
    align-items: flex-end;
    left: 0;
    top: 0;
    transition: all ease-out 0.2s;
    padding: 5px 10px;
    border-radius: var(--radius-md);

    &:hover {
      background-color: var(--bg-gray-100);
      color: var(--text-700);
    }
  }

  &__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    fill: var(--text-500);
  }

  &__container:hover {
    .report-summary__icon {
      fill: var(--text-600);
    }
  }

  &--fixed &__container {
    position: fixed;
    top: 5px;
    left: 116px;
  }

  &__icon + &__label {
    margin-left: 4px;
  }

  &--fixed &__label {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__circle {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    top: -1px;
  }
}

.pl-8 {
  padding-left: 8px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 2px;
}
