@import '../../css/mixin.css';

.calendar-list {
  position: relative;
  flex: 1;
  font-size: 0.8rem;

  &__error {
    @apply text-rose-500;
    margin-top: 3px;
  }

  &__error-icon {
    @apply fill-rose-500;

    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 4px;
    margin-bottom: 2px;
  }
}
