@import '../../css/mixin.css';

.google-calendar {
  &__import,
  &__upload {
    margin-top: 24px;
    width: 326px;
  }

  &__select-calendar {
    display: flex;
    margin-top: 6px;
  }

  &__section-title {
    @mixin section-title;

    & > .Icon {
      @apply fill-gray-400;
      display: inline-block;
      width: 22px;
      height: 20px;
      margin-right: 4px;
      margin-bottom: 2px;
    }
  }

  &__section-desc {
    @apply text-sm;
    margin-top: 6px;
  }

  &__import-button {
    margin-left: 6px;
  }

  &__color {
    margin-left: 6px;
    margin-top: 4px;
  }
}
