.BasePicker {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    cursor: auto;
  }

  &__start-position {
    position: absolute;
    width: 20px;
    height: 20px;
  }

  &__content {
    position: absolute;
    padding: 10px;
  }
}
