@import '../css/mixin.css';

.empty-line {
  @mixin interactable;

  @apply focus:bg-indigo-50;
  @apply cursor-pointer;

  text-align: center;
  opacity: 0;
  height: 40px;
  border-radius: var(--radius-md);
  padding-top: 10px;

  &:hover {
    opacity: 1;
  }

  &__label {
    @apply text-gray-500;
    font-size: 1em;
    font-weight: 500;
  }

  &--edit {
    position: relative;
  }
}
