.line-editor {
  @apply align-top;
  @apply w-full;
  @apply outline-0;
  @apply min-h-[40px];
  @apply cursor-text;
  @apply resize-none;

  word-break: break-all;
  line-height: 1.5;

  &.mod-task {
    @apply py-2;
    padding-right: 12px;
    padding-left: 26px;
    text-indent: -26px;
  }

  &.mod-heading {
    margin-left: -18px;
  }
}
