@import '../css/mixin.css';

.item-wrapper {
  $this: .item-wrapper;

  @mixin interactable;
  @apply focus:bg-indigo-50;

  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--radius-md);

  &:has(.mod-top-margin) {
    margin-top: 12px;
  }

  &:hover:has(textarea) {
    transition: none;
    background: none;
  }

  &__drag {
    @apply fill-gray-400;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-right: 2px;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    @at-root {
      .dragging $(this)__drag {
        opacity: 1;
      }
    }
  }

  &:hover &__drag {
    opacity: 1;
  }

  &:hover:has(textarea) &__drag {
    transition: none;
    opacity: 0;
  }

  &:has(.task-item--running) {
    animation: bg-progress 2s linear infinite;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.125) 50%,
      rgba(255, 255, 255, 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 60px 60px;
    background-color: rgb(199 210 254);
  }

  @at-root {
    .drag-target $(this) {
      background-color: var(--bg-gray-100);
    }
  }
}
