body {
  margin: 0;
  height: 600px;
}

#popup {
  width: 450px;
  position: relative;
  z-index: 0;

  @apply text-sm;
  @apply text-black;
  @apply antialiased;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.task-textarea {
  position: relative;
  padding: 20px 16px 30px 16px;

  textarea {
    line-height: 2;
    overflow: hidden;
    @apply w-full;
    @apply p-4;
    @apply text-gray-900;
    @apply outline-none;
    @apply resize-none;
    @apply bg-gray-100;
    @apply font-mono;
    @apply rounded-md;
  }
}

.task-container {
  padding: 20px 16px 30px 16px;
}
