body {
  margin: 0;
}

#popup {
  width: 400px;
  height: 600px;

  @apply text-sm;
  @apply text-black;
  @apply antialiased;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.task-textarea {
  height: calc(100% - 46px);
  padding-bottom: 10px;

  textarea {
    line-height: 2;
    @apply w-full;
    @apply h-full;
    @apply p-4;
    @apply text-gray-900;
    @apply outline-none;
    @apply resize-none;
    @apply rounded-md;
    @apply bg-gray-100;
    @apply font-mono;
  }
}

.task-container {
  @apply relative;
  @apply h-full;
  @apply overflow-scroll;
  @apply pb-14;
  padding-left: 10px;
  padding-right: 10px;
}
