.task-item {
  @apply relative;
  @apply pl-4;
  @apply pr-2;
  @apply py-2;
  @apply min-h-[40px];
  @apply leading-relaxed;
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply cursor-pointer;
  @apply select-none;

  &__label {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    width: calc(100% - 2.5rem);
  }

  &--running {
    animation: bg-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes bg-pulse {
  0%,
  100% {
    background-color: rgba(229, 231, 235, 1);
  }
  50% {
    background-color: rgba(229, 231, 235, 0.2);
  }
}

.task-item:hover .task-controll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.task-list-item--mouse-down .task-item:hover .task-controll,
.task-list-item--hover .task-item:hover .task-controll {
  display: none;
}
