.task-controll {
  display: none;
  width: 5.8rem;
  right: 0px;
  pointer-events: none;
  background: rgb(249, 250, 251);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );

  @apply absolute;
  @apply h-full;
  @apply top-0;
  @apply text-right;
  @apply select-none;
  @apply cursor-default;

  > * {
    pointer-events: auto;
  }

  .TagMenu {
    margin-left: 4px;
    height: 40px;
  }
}

.controll-button {
  @apply flex;
  @apply text-indigo-300;
  @apply text-3xl;
  @apply hover:text-indigo-600;

  &.mod-disable {
    @apply text-gray-300;
  }

  &:hover svg {
    @apply drop-shadow-md;
  }
}
