.task-item {
  @apply relative;
  @apply pl-3;
  @apply pr-2;
  @apply py-2;
  @apply min-h-[40px];
  @apply leading-relaxed;
  @apply flex;
  @apply flex-row;
  @apply items-center;
  @apply cursor-pointer;
  @apply select-none;

  &__label {
    @apply flex;
    @apply flex-row;
    @apply items-center;
    flex: 1;
  }

  &--running {
    animation: bg-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

.item-color {
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: rgb(241 245 249);
  }
  @apply focus:bg-indigo-50;
}

@keyframes bg-pulse {
  0%,
  100% {
    background-color: rgba(229, 231, 235, 1);
  }
  50% {
    background-color: rgba(229, 231, 235, 0.2);
  }
}

.task-item:hover .task-controll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
