.TagMenu {
  --shadow-color: 0, 0, 0;

  display: inline-block;
  width: 22px;
  height: 20px;
  border-radius: 10px;
  background-color: #d9e3f0;
  fill: #6b7280;

  @apply ml-1;
  @apply transition;
  @apply duration-300;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px -1px rgba(var(--shadow-color), 0.1),
      0 2px 4px -2px rgba(var(--shadow-color), 0.1);
  }

  & > .Icon {
    width: 100%;
    height: 100%;
  }
}

.TaskTags {
  display: flex;
  align-items: center;

  &--hover-only {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 20px;
    transition: opacity ease-out 0.2s;
  }
}
