.tooltip {
  --position-offset: 10px;

  @apply relative;

  &__inner {
    @apply inline-block;
    @apply absolute;
    @apply z-10;
    @apply py-1;
    @apply px-2;
    @apply bg-gray-700;
    @apply text-xs;
    @apply font-medium;
    @apply text-white;
    @apply rounded-lg;
    @apply shadow-sm;
    @apply transition-opacity;
    @apply duration-300;

    &:after {
      --triangle-height: 4px;

      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: var(--triangle-height);
      border-color: transparent transparent transparent transparent;
      @apply absolute;
    }
  }

  &--top {
    bottom: calc(100% + var(--position-offset));
    left: 50%;
    transform: translateX(-50%);

    &:after {
      right: 10px;
      bottom: calc(0px - var(--triangle-height));
      border-bottom-width: 0;
      @apply border-t-gray-700;
    }
  }

  &--bottom {
    top: calc(100% + var(--position-offset));
    left: 50%;
    transform: translateX(-50%);

    &:after {
      right: 10px;
      top: calc(0px - var(--triangle-height));
      border-top-width: 0;
      @apply border-b-gray-700;
    }
  }

  &--left {
    top: 50%;
    right: calc(100% + var(--position-offset));
    transform: translateY(-50%);

    &:after {
      top: 6px;
      right: calc(0px - var(--triangle-height));
      border-right-width: 0;
      @apply border-l-gray-700;
    }
  }

  &--right {
    top: 50%;
    left: calc(100% + var(--position-offset));
    transform: translateY(-50%);

    &:after {
      top: 6px;
      left: calc(0px - var(--triangle-height));
      border-left-width: 0;
      @apply border-r-gray-700;
    }
  }
}
