:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --text-300: rgb(212 212 216);
  --text-400: rgb(161 161 170);
  --text-500: rgb(113 113 122);
  --text-600: rgb(82 82 91);
  --text-700: rgb(63 63 70);
  --text-800: rgb(39 39 42);

  --gray-50: rgb(249 250 251);
  --bg-gray-100: rgb(243 244 246);
  --bg-gray-200: rgb(229 231 235);
  --bg-gray-300: rgb(209 213 219);
  --bg-gray-400: rgb(156 163 175);
  --bg-gray-500: rgb(107 114 128);
  --bg-gray-600: rgb(75 85 99);
  --bg-gray-700: rgb(55 65 81);

  --indigo-50: rgb(238 242 255);
  --indigo-100: rgb(224 231 255);
  --indigo-200: rgb(199 210 254);
  --indigo-300: rgb(165 180 252);
  --indigo-400: rgb(129 140 248);

  --shadow-1: rgb(0 0 0 / 14%) 0px 1px 1px 0px;
  --shadow-2: rgb(0 0 0 / 14%) 0px 2px 1px 0px;
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --radius-sm: 2px;
  --radius-md: 6px;

  --z-index-task-controller: 11;
  --z-index-picker: 12;
  --z-index-contextmenu: 13;
  --z-index-autocomplete: 14;

  --contexify-menu-shadow: var(--shadow-md);
  --contexify-menu-minWidth: 100px;
  --contexify-activeItem-bgColor: var(--bg-gray-100);
  --contexify-itemContent-padding: 4px 6px 6px;
}
